{% assign devexperiences = site.data.data.devexperiences %}
{% if devexperiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Development Experiences
  </h2>

  {% for devexperience in devexperiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ devexperience.role }}</h3>
        <div class="time">{{ devexperience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ devexperience.company }}</div>

    </div><!--//meta-->

    {% if devexperience.details %}
    <div class="details">
      {{ devexperience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
